/**
 * FILE: src/src/App.css
 * CHỨC NĂNG: Main CSS file - Import tất cả CSS modules
 */

/* Import tất cả CSS modules */
/* 
@import './components/styles/ConnectionStatus.css';
@import './components/styles/MarketData.css';
@import './components/styles/OrderForm.css';
@import './components/styles/OrderHistory.css'; */

@import './components/styles/Global.css';
@import './components/styles/SystemInfo.css';
@import './components/styles/WindowControls.css';
@import './components/styles/Instructions.css';
@import './components/styles/ProcessingOrders.css'; 